img{
position: absolute;
width: 716px;
height: 513px;
left: 0px;
top: -4px;
padding:10px;
background-color: black;
border-radius: 94px;

}
body{
	font-family: 'Indie Flower', cursive;
	text-align: left;
	font-size:30px;
	flex-wrap: wrap;
	justify-content: center;
background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}
.letter{
position: absolute;
width: 579px;
height: 420px;
left: 766px;
top: 154px;
font-size: 36px;
line-height: 42px;
color: #B6A375;
}
.letter2{
position: absolute;
width: 1266px;
height: 44px;
left: 49px;
top: 633px;
font-size: 36px;
line-height: 42px;
color: #B6A375;

}


.letter4{
position: absolute;
width: 1296px;
height: 42px;
left: 49px;
top: 860px;
font-size: 36px;
line-height: 42px;
color: #B6A375;

}




.letter6{
	position: absolute;
width: 426px;
height: 79px;
left: 847px;
top: 8px;
font-size: 64px;
line-height: 79px;
text-align: center;
color: #B6A375;

}

.letter7{
	position: absolute;
width: 426px;
height: 79px;
left: 1060px;
top: 898px;
font-size: 64px;
line-height: 79px;
text-align: center;
color: #B6A375;

}

.letter8{
position: absolute;
width: 398px;
height: 56px;
left: 505px;
top: 917px;
font-size: 48px;
line-height: 56px;
}


.letter8{
position: absolute;
width: 398px;
height: 56px;
left: 505px;
top: 917px;
font-size: 48px;
line-height: 56px;
}
.letter7:hover {
	
	color: black;
}


a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: black;

}
body {

              animation: fadeIn 3s;

}

 

@keyframes fadeIn {

 

              0%{

                            opacity: 0;         

}

             

              100%{

                            opacity: 1;

              }

}