img{
position: absolute;
width: 716px;
height: 513px;
left: 0px;
top: -4px;
padding:10px;
background-color: black;
border-radius: 94px;

}
body{
	font-family: 'Indie Flower', cursive;
	text-align: left;
	font-size:30px;
	flex-wrap: wrap;
	justify-content: center;
	background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);}

.letter{
position: absolute;
width: 565px;
height: 252px;
left: 795px;
top: 182px;
font-size: 36px;
line-height: 42px;
color: #C6E219;
}
.letter2{
position: absolute;
width: 1328px;
height: 126px;
left: 14px;
top: 536px;
font-size: 36px;
line-height: 42px;
color: #C6E219;

}


.letter4{
position: absolute;
width: 1389px;
height: 211px;
left: 10px;
top: 722px;
font-size: 36px;
line-height: 42px;
color: #C6E219;

}




.letter6{
position: absolute;
width: 185px;
height: 79px;
left: 960px;
top: 50px;
font-size: 64px;
line-height: 79px;
text-align: center;
color: #C6E219;

}

.letter7{
	position: absolute;
width: 426px;
height: 79px;
left: 1060px;
top: 898px;
font-size: 64px;
line-height: 79px;
text-align: center;
color: #C6E219;

}

.letter8{
position: absolute;
width: 398px;
height: 56px;
left: 505px;
top: 917px;
font-size: 48px;
line-height: 56px;
}

.letter7:hover {
	
	color: black;
}


a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: black;


}
body {

              animation: fadeIn 3s;

}

 

@keyframes fadeIn {

 

              0%{

                            opacity: 0;         

}

             

              100%{

                            opacity: 1;

              }

]



