img{
position: absolute;
width: 716px;
height: 513px;
left: 0px;
top: -4px;
padding:10px;
background-color: black;

}
body{
	font-family: 'Indie Flower', cursive;
	text-align: left;
	font-size:30px;
	flex-wrap: wrap;
	justify-content: center;
	background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.letter{
position: absolute;
width: 524px;
height: 336px;
left: 797px;
top: 181px;
font-size: 36px;
line-height: 42px;

}
.letter2{
position: absolute;
width: 1186px;
height: 121px;
left: 83px;
top: 596px;
font-size: 36px;
line-height: 42px;
}


.letter4{
position: absolute;
width: 1172px;
height: 191px;
left: 107px;
top: 717px;
font-size: 36px;
line-height: 42px;



}




.letter6{
	position: absolute;
width: 426px;
height: 79px;
left: 847px;
top: 8px;
font-size: 64px;
line-height: 79px;
text-align: center;
color: #B6A375;

}

.letter7{
	position: absolute;
width: 426px;
height: 79px;
left: 1060px;
top: 898px;
font-size: 64px;
line-height: 79px;
text-align: center;
color: #B6A375;

}










