img{
position: absolute;
width: 716px;
height: 513px;
left: 0px;
top: -4px;
padding:10px;
background-color: black;
border-radius: 94px;

}
body{
	font-family: 'Indie Flower', cursive;
	text-align: left;
	font-size:30px;
	flex-wrap: wrap;
	justify-content: center;
	background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}
.letter{
position: absolute;
width: 524px;
height: 336px;
left: 797px;
top: 181px;
font-size: 36px;
line-height: 42px;
color: #19E2B2;
}


.letter2{
position: absolute;
width: 1172px;
height: 191px;
left: 55px;
top: 717px;
font-size: 36px;
line-height: 42px;
color: #19E2B2;
}


.letter4{
position: absolute;
width: 1186px;
height: 121px;
left: 55px;
top: 587px;
font-size: 36px;
line-height: 42px;
color: #19E2B2;

}


.letter6{
position: absolute;
width: 426px;
height: 79px;
left: 847px;
top: 8px;
font-size: 64px;
line-height: 79px;
text-align: center;
color: #19E2B2;
}

.letter7{
position: absolute;
width: 426px;
height: 79px;
left: 1060px;
top: 898px;
font-size: 64px;
line-height: 79px;
text-align: center;
color: #19E2B2;
}










